<section id="school" class="section__school">
  <h3 class="section__school--h3">Prepáralos con tus marcas favoritas!</h3>
  <h2 class="section__school--h2">VUELTA AL COLE</h2>
  <section class="section__school--articles">
    <article class="section__school--articles--article">
      <div class="section__school--articles--article--container">
        <img
          src="/images/lpbts-mod05-img01-desk.png"
          alt="Joven con mochila puma"
          class="section__school--articles--article--container--img"
        />
      </div>
      <h3 class="section__school--articles--article--h3">Mochilas escolares</h3>
    </article>
    <article class="section__school--articles--article">
      <div class="section__school--articles--article--container">
        <img
          src="/images/lpbts-mod05-img04-mob.png"
          alt="Niño con lapices de colores"
          class="section__school--articles--article--container--img"
        />
      </div>
      <h3 class="section__school--articles--article--h3">Estuches</h3>
    </article>
    <article class="section__school--articles--article">
      <div class="section__school--articles--article--container">
        <img
          src="/images/lpbts-mod05-img03-mob.png"
          alt="Joven con mochila nike"
          class="section__school--articles--article--container--img"
        />
      </div>
      <h3 class="section__school--articles--article--h3">Bolsas de deporte</h3>
    </article>
  </section>
  <a href="https://adalab.es/" class="section__school--button">Empezar ahora</a>
</section>
