<footer  class="footer">
  <a href="#hero" class="footer__link"></a>
  <nav class="footer__links">
    <a href="https://adalab.es/" class="footer__links--link">ZAPATILLAS</a>
    <a href="https://adalab.es/" class="footer__links--link">ROPA</a>
    <a href="https://adalab.es/" class="footer__links--link">NIÑO/A</a>
    <a href="https://adalab.es/" class="footer__links--link">DESTACADOS</a>
    <a href="https://adalab.es/" class="footer__links--link">TIPS</a>
  </nav>
  <nav class="footer__links ">
    <a href="https://adalab.es/" class="footer__links--link">TWITTER</a>
    <a href="https://adalab.es/" class="footer__links--link">INSTAGRAM</a>
    <a href="https://adalab.es/" class="footer__links--link">YOUTUBE</a>
  </nav>
  <section class="footer__copyright">
    <small class="footer__copyright--copy">&copy;2023</small>
    <small class="footer__copyright--icon">we <i class="fa fa-heart" aria-hidden="true"></i> run</small>
  </section>
</footer>